html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
 font-family:微軟正黑體;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
/* css rest */
*,::after,::before{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
/* init */
body{
    margin: 0 auto;
    width: 1335px;
}
.container{
    display: flex;
}
.nav{
    background-color: #aa0601;
    height: 76px;
    color: #fff;
    justify-content: space-between;
}
.nav img{
    margin:20px 0 20px 60px;
    width: 59px;
    height: 34px;
}
.topDiv{
    background-image: url('/week3/banner.png');
    height: 583px;
}
.topDiv div{
    padding: 248px 252px 255px 686px;
    color: #650300;
    font-weight: bold;
    text-align: right;
}
.topDiv div h2{
    font-size: 20px;
    font-weight: bold;
}
.topDiv div h1{
    font-size: 40px;
    font-weight: bold;
}
.unlist{

}
.list{
    margin: 30px 23px 30px 23px;
    font-weight: bold;
}
/* perfational */
.m0{
    margin: 0 auto;
}
.perfationalInside{
    margin: 0 30px 30px 30px;
}
.perfational{
    flex-direction: column;
}
.perfationalDiv{
   margin: 0 198px 30px 214px; 
}
.perfational h1{
    color:#650300;
    font-size: 30px;
    font-weight: bold;
    margin: 44px auto 42px auto;
}
.perfationalImg{
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}
.perfationalInside{
    color: #650300;
    margin: 0 30px;
    flex-direction: column;
    align-items: center;
}
.colorBlack{
    color: #000;
}
/* products */
.products{
    flex-direction: column;
    align-items: center;
    margin-bottom: 68px;
}
.productsH2{
    color: #650300;
    font-weight: bold;
    font-size: 37px;
    margin: 65px 0 60px 0;
}
.productsItem{
    align-items: center;
    margin-bottom: 30px;
}
.productsIcon{
    height: 35px;
    width: 41px;
}
.products div span{
    margin: 22px;
}
.productsImg{
    width: 663px;
    height: 269px;
}
.products div span span{
    font-size: 35px;
    font-weight: bold;
    color: #aa0601;
}
/* designwith */
.designWith{
    background-image: url('/week3/bg.png');
    background-size: contain;
    flex-direction: column;
    align-items: center;
    height: 1800px;
}
.designWith h2{
    color: #fff;
    font-size: 40px;
}
.titleMargin{
    margin-bottom: 60px;
    color: #fff;
}
.designwithDiv{
    margin-bottom: 50px;
}
.designWithimg1{
    height: 700px;
    width: 480px;
    margin-right: 8px;
}
.designWithimg2{
    height:380px;
    width: 800px;
    margin-bottom: 8px;
}
.designWithdiv2{
    height: 318px;
    width: 690px;
    flex-direction: column;
    align-items: flex-end;
}
.designWithimg3{
    height: 318px;
    width: 110px;
}
.designWithimg4{
    height: 170px;
    width: 690px;
}

.designWithdiv3{
    height: 140px;
    width: 288px;
    background-image: url('/week3/more.png ');
    justify-content: flex-end;
}
.MOREoutside{
    align-items: center;
}
.MORE{
    font-size: 43px;
    color: #aa0601;
    background-color: #fff;
    height: 90px;
    width: 195px;
    text-align: center;
    line-height: 89px;
}
.bgwOutside{
    align-items: center;
}
.bgw{
    background-color: #fff;
    height: 89px;
    align-items: center;
}
.designWithimg5{
    height: 35px;
    width: 35px;
}
.designWithbottom{
    margin-bottom: 130px;
}
.dobaleA{
    background-image: url('/week3/product-8.png');
    height: 495px;
    width: 490px;
    margin-right: 24px;
}
.dobaleA h2{
    color: #aa0601;
    font-size: 44px;
    text-align: center;
    line-height: 495px;
    font-weight: bold;
}
.youth{
    background-image: url('/week3/product-9.png');
    height: 495px;
    width: 490px;
}
.youth h2{
    color: #aa0601;
    font-size: 44px;
    text-align: center;
    line-height: 495px;
    font-weight: bold;
}
/* recommend */
.recommendDiv{
    margin-top: -270px;  
    margin-bottom: 68px;
    flex-direction: column;
    align-items: center;
}
.recommend{
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.recImg{
    height: 215px;
    width: 236px;   
}
.recBetween{
    margin-right: 20px;
}
.recDiv{
    width: 236px;
    height: 364px;
    flex-direction: column;
}
.veryGry{
    color: #282c2f;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 18px;
}
.gray{
    color: #888a8c;
    line-height: 18px;
    font-size: 10px;
}
.notGray{
    color: #aeaeae;
    line-height: 18px;
    font-size: 10px;
    margin-bottom: 18px;
}
.recSmdiv{
    background-color: #fff;
    border:1px solid #acaeaf;
    padding-left: 15px;
    padding-right: 20px;
}
/* contact */
.contactDiv{
    background-color: #fbf2f2;
}
.contact{
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 665px;
}
.contactTitle{
    font-size: 38px;
    margin-top: 64px;
    margin-bottom: 35px;
    font-weight: bold;
}
.smTitle{
    text-align: left;
    margin-bottom: 26px;
}
.w100{
    width: 100%;
}
.contact div h2{
    font-size: 12px;
}
.inputDiv{
    margin-bottom: 18px;
}
.inputDiv h2{
    margin-bottom: 7px;
}
.contactInput{
    color: gray;
}
.h113{
    height: 113px;
}
.feedback{
    margin-bottom: 17px;
}
.submit{
    width: 150px;
    height: 45px;
    background-color: #aa0601;
    color: #fff;
    margin-bottom: 75px;
}
/* footer */
footer{
    background-color: #aa0601;
    margin: 0 auto;
    color: #fff;

}
.footerDiv{
    width: 960px;
    margin: 0 auto;
    flex-direction: column;
}
.footerTopdiv{
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 35px;
    width: 100%;
}
.footerList{
    margin-right: 40px;
}
.footerListicon{
    height: 35px;
    width: 35px;
}
.iconSetting{
    margin-right: 22px;
}
.footerBigicon{
    height: 33px;
    width: 33px;
}
.footerSpan{
    font-size: 30px;
    line-height: 33px;
}
.footerSmdiv{
    margin-bottom: 24px;
}
.footerBottomdiv{
    justify-content: space-between;
}
.glassIcon{
    width: 72px;
    height: 42px;
}
.glassIconspan{
    line-height: 42px;
}
hr{
    margin: 12px 0;
}
.footerBottomlist{
    margin-right: 50px;
}
@media(max-width: 979px){
    .perfationalDiv{
        flex-wrap: wrap;
    }
    .perfationalInside{
        width: 40%;
        margin-bottom: 40px;
    }
/* perfational */
    .recommendOutsidediv{
        flex-wrap: wrap;
    }
    .recDiv{
        margin: 0 12.5%;
    }
}
@media(max-width: 768px){
    .perfationalDiv{
        flex-wrap: wrap;
    }
    .perfationalInside{
        width: 80%;
        margin-bottom: 40px;
        justify-content: center;
    }
    /* perfational */
    .recommendOutsidediv{
        flex-wrap: wrap;
    }
    .recDiv{
        margin: 0 38%;
    }
}
